<h1>Listings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <% @listings.each do |listing| %>
    <tr>
      <td><%= listing.full_address %></td>
      <td><%= listing.price %></td>
    </tr>
  <% end %>
</table>
