<%= render "shared/header" %>

<h2>Listings</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>
  <% @listings.each do |listing| %>
    <tr>
      <td><%= listing.full_address %></td>
      <td><%= Money.new(listing.price).format %></td>
      <td><%= link_to "Show", listing %></td>
    </tr>
  <% end %>
</table>
